@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.center{
    width: 75%;
    margin: 10px auto;
  }
  
  .example-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }